/.venv
__pycache__/
*.py[cod]
*.log
*.pt

/caps.json
/front/.svelte-kit/
/front/build/
/front/node_modules/
/front/test-results/
/front/playwright-report/
/training_backend/.venv/
/training_backend/data/
